$tx-color-primary: #FFFFFF;
$tx-color-secondary: #323D75;
$tx-color-thirtly: #C0CAFF;
$tx-color-placeholder: #747474;

$bg-color-light: #E1E1E1;
$bg-color-light-blue: #323D75;
$bg-color-dark-blue: #272C44;

$color-danger: #EE7235;

$btn-color: #FFFFFF;
$btn-bg-color: #EE7235;
$btn-br-radius: 1rem;

$transition: all 0.3s ease-in;

$frame-shadow: drop-shadow(0 20px 12px rgba(0, 0, 0, 0.2));

$container-lg: 76%; 
$container-md: 86%; 
$container-sm: 93%; 